:root {
  --background: white;
  --foreground: #0d1226;
  --primary: #202020;
  --primary-foreground: #f8fafc;
  --secondary: #f5f5f5;
  --secondary-foreground: #1e293b;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #1e293b;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #2563eb;
  --radius: 0.5rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--background);
  color: var(--foreground);
}

.dark {
  --background: #0d1226;
  --foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #1e293b;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #2563eb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: hidden;
}

html, #root {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
